<h2>Editar Cuenta</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :autofocus => true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :name %>
   
  <%= f.input :password, :autocomplete => "off", :hint => "(Dejar en blanco si no se desea cambiar)" %>

  <%= f.input :password_confirmation %>

  <%= f.input :current_password, :hint => "(Es necesario que introduzca su contraseña)" %></div>

  <%=  f.button :submit, :class => 'btn-primary' %>

<h3>Cancelar mi cuenta</h3>

<p>Deseas cancelar tu cuenta?</p>
  <%= link_to t('actions.cancel_account'),
              registration_path(resource_name),
              :method => 'delete',
              :data => { :confirm => t('actions.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%= link_to t('actions.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
<% end %>
