<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :kind_of_user, :collection => User::KINDS_OF_USER, :prompt => t("dict.select_any") %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('actions.cancel'),
                users_path, :class => 'btn' %>
  </div>
<% end %>
