<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.association :seller %>
      <%= f.input :name %>
      <%= f.input :document_id %>
      <%= f.input :marital_status, :collection => Client::MARITAL_STATUS, :prompt => t("dict.select_any") %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :status, :collection => Client::STATUS_FOR_SELECT, :prompt => t("dict.select_any") %>
      <%= f.input :state, :collection => STATES, :prompt => t("dict.select_any") %>
      <%= f.input :afinity, :collection => Client::AFINITY_FOR_SELECT, :prompt => t("dict.select_any") %>
      <%= f.input :agenda, :as => :datetime_picker, :input_html => { :value => format_date(f.object.agenda) } %>
      <%= f.input :expiration_date, :as => :datetime_picker, :input_html => { :value => format_date(f.object.expiration_date) } %>
      <%= f.input :comment,  :input_html => { :rows => "3" } %>
  <hr/>
  <h3><%= t('titles.vehicle_data') %></h2>

  <%= f.simple_fields_for :vehicle do |fc| %>
    <%= fc.input :brand %>
    <%= fc.input :model %>
    <%= fc.input :version %>
    <%= fc.input :year, :collection => Vehicle.years_for_select, :prompt => t("dict.select_any") %>
  <% end %>

  <div class="form-actions">
    <%= f.submit t('actions.save'), :class => 'btn btn-primary' %>
    <%= link_to t('actions.cancel'),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
