<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t 'titles.clients' %></h1>
</div>
<%= render :partial => "/clients/filter" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:document_id) %></th>
      <th><%= model_class.human_attribute_name(:expiration_date) %></th>
      <th><%= t('actions.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client_path(client) %></td>
        <td><%= client.document_id %></td>
        <td><%= client.expiration_date %></td>
        <td>
          <%= link_to t('actions.edit'), edit_client_path(client), :class => 'btn btn-mini' %>
          <%= link_to t('actions.destroy'),
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => t('actions.confirm') },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('actions.new'), new_client_path, :class => 'btn btn-primary' %>
