<%- model_class = Client -%>
<div class="page-header">
  <h1>Cliente</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('models.clients.name') %>:</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong><%= t('models.clients.document_id') %>:</strong></dt>
  <dd><%= @client.document_id %></dd>
  <dt><strong><%= t('models.clients.marital_status') %>:</strong></dt>
  <dd><%= t("models.clients.marital_statuses.#{@client.marital_status}") %></dd>
  <dt><strong><%= t('models.clients.email') %>:</strong></dt>
  <dd><%= @client.email %></dd>
  <dt><strong><%= t('models.clients.phone') %>:</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong><%= t("models.clients.status") %>:</strong></dt>
  <dd><%= t("models.clients.statuses.#{@client.status}") %></dd>
  <dt><strong><%= t('models.clients.agenda') %>:</strong></dt>
  <dd><%= @client.agenda %></dd>
  <dt><strong><%= t('models.clients.expiration_date') %>:</strong></dt>
  <dd><%= @client.expiration_date %></dd>
  <dt><strong><%= t('models.clients.comment') %>:</strong></dt>
  <dd><%= @client.comment %></dd>
  <% if @vehicle %>
    <hr/>
    <h3><%= t('titles.vehicle_data') %></h2>
    <dt><strong><%= t('models.vehicles.brand') %>:</strong></dt>
    <dd><%= @vehicle.brand %></dd>
    <dt><strong><%= t('models.vehicles.model') %>:</strong></dt>
    <dd><%= @vehicle.model %></dd>
    <dt><strong><%= t('models.vehicles.version') %>:</strong></dt>
    <dd><%= @vehicle.version %></dd>
    <dt><strong><%= t('models.vehicles.year') %>:</strong></dt>
    <dd><%= @vehicle.year %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('actions.back'),
              clients_path, :class => 'btn'  %>
  <%= link_to t('actions.edit', :default => t("helpers.links.edit")),
              edit_client_path(@client), :class => 'btn' %>
  <%= link_to t('actions.destroy', :default => t("helpers.links.destroy")),
              client_path(@client),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
